<div class="container-fluid w-100 p-0 m-0">
  <div class="row p-0 m-0">
    <div class="col-12 col-xl-6 p-0 m-0">
      <label for="vid1File" class="m-3">+</label>
      <input
        type="file"
        #vid1Input
        id="vid1File"
        (input)="this.vid1InputChange()"
      />
      <!-- <a class="btn btn-sm m-3">        
        +
      </a> -->
      <video
        #vid1Ref
        id="vid1ElRef"
        controls
        disablePictureInPicture
        src="{{ this.eeveeMistLink }}"
      ></video>
    </div>
    <div class="col-12 col-xl-6 p-0 m-0">
      <label for="vid2File" class="m-3">+</label>
      <input
        type="file"
        #vid2Input
        id="vid2File"
        (input)="this.vid2InputChange()"
      />
      <video
        #vid2Ref
        id="vid2ElRef"
        controls
        disablePictureInPicture
        src="{{ this.deliDayInLifeLink }}"
      ></video>
    </div>
    <div class="col-12 col-xl-6 p-0 m-0">
      <label for="vid3File" class="m-3">+</label>
      <input
        type="file"
        #vid3Input
        id="vid3File"
        (input)="this.vid3InputChange()"
      />
      <video
        #vid3Ref
        id="vid3ElRef"
        controls
        disablePictureInPicture
        src="{{ this.flavCallMeLink }}"
      ></video>
    </div>
    <div class="col-12 col-xl-6 p-0 m-0">
      <label for="vid4File" class="m-3">+</label>
      <input
        type="file"
        #vid4Input
        id="vid4File"
        (input)="this.vid4InputChange()"
      />
      <video
        #vid4Ref
        id="vid4ElRef"
        controls
        disablePictureInPicture
        src="{{ this.chillAudioLoop }}"
      ></video>
    </div>
  </div>
</div>
